@page "/about"

<PageTitle>About Game</PageTitle>

<div class="about-container">
    <h1>About Card Clash</h1>
    <h2>Description</h2>
    <div class="about-description">
        <p>
            Card Clash is a simple game where you and the AI will pick a card. Whoever picks the highest, wins the round!
            The game will end when all cards from Ace to King have been played once.
        </p>
    </div>

    <h3>How to Play</h3>
    <div class="instructions">
        <ol>
            <li>Press any card to select it as your chosen one for this round.</li>
            <li>After your selection, press the 'Battle' button to initiate the fight.</li>
            <li>The opponent's card will be shown, and after 2 seconds, the round will finish and the scores will update.</li>
            <li>Repeat until you both are out of cards.</li>
            <li>The one with the higher score wins!</li>
            <li><b>Note:</b> You can only use each card once, and you can scroll to find the other cards if not in view.</li>
        </ol>
    </div>

    <h4>Screenshots!</h4>
    <div class="screenshot-container">
        <img src="images/win_ss.png" alt="Winning Screenshot">
        <img src="images/lose_ss.png" alt="Losing Screenshot">
    </div>
</div>
